In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
import json
file = open('/Users/freezylex/Desktop/курсач/bonds_info.json', 'r')
data_bonds = json.load(file)
tickers = list(data_bonds.keys())
df = pd.DataFrame(columns = tickers)
df

Empty DataFrame
Columns: [SU26214RMFS, SU26215RMFS, SU26216RMFS, SU26217RMFS, SU26218RMFS, SU26203RMFS, SU26204RMFS, SU26205RMFS, SU26206RMFS, SU26207RMFS, SU26208RMFS, SU26209RMFS, SU26210RMFS, SU26211RMFS, SU26212RMFS]
Index: []

In [3]:
path = '/Users/freezylex/Desktop/курсач/bonds_new_metrics'
files = os.listdir(path)
files.sort()
files

['26203.xlsx',
 '26204.xlsx',
 '26205.xlsx',
 '26206.xlsx',
 '26207.xlsx',
 '26208.xlsx',
 '26209.xlsx',
 '26210.xlsx',
 '26211.xlsx',
 '26212.xlsx',
 '26214.xlsx',
 '26215.xlsx',
 '26216.xlsx']

In [5]:
metrics = data.columns
metrics

Index(['Дата', 'Bid-ask спред, б.п.', 'Лет до погашения', 'Количество сделок',
       'Рыночная цена'],
      dtype='object')

In [4]:
data = pd.read_excel(path+'/'+files[0])
data

,Дата,"Bid-ask спред, б.п.",Лет до погашения,Количество сделок,Рыночная цена
0,2016-02-19,11.95,0.454795,79.0,98.9400
1,2016-02-18,13.41,0.457534,154.0,98.9122
2,2016-02-17,4.99,0.460274,76.0,98.8826
3,2016-02-16,0.97,0.463014,105.0,98.9330
4,2016-02-15,6.75,0.465753,785.0,98.9453
...,...,...,...,...,...
240,2015-03-06,NaN,NaN,NaN,92.9895
241,2015-03-05,NaN,NaN,NaN,92.6192
242,2015-03-04,NaN,NaN,NaN,92.2467
243,2015-03-03,NaN,NaN,NaN,91.7002
244,2015-03-02,NaN,NaN,NaN,91.4439

In [6]:
def make_metric(metric):
    all_data = pd.DataFrame(columns=tickers)
    first = True
    for file in files:
        data = pd.read_excel(path+'/'+file)
        if first:
            data['Дата'] = pd.to_datetime(data['Дата'], format='%Y-%m-%d')
            all_data['Date'] = data['Дата']
            first = False
        else:
            pass
        bond = 'SU' + str(file[:5]) + 'RMFS'
        all_data[bond] = data[metric]
    return all_data

# Bid-ask spread

In [24]:
bid_ask_spread = make_metric(metrics[1])
bid_ask_spread

,SU26214RMFS,SU26215RMFS,SU26216RMFS,SU26217RMFS,SU26218RMFS,SU26203RMFS,SU26204RMFS,SU26205RMFS,SU26206RMFS,SU26207RMFS,SU26208RMFS,SU26209RMFS,SU26210RMFS,SU26211RMFS,SU26212RMFS,Date
0,29.89,29.97,39.97,NaN,NaN,11.95,14.88,29.87,16.77,16.30,15.55,29.95,28.72,27.98,0.64,2016-02-19
1,39.71,9.99,30.03,NaN,NaN,13.41,1.95,32.09,5.07,4.99,14.00,52.75,48.99,40.34,33.99,2016-02-18
2,13.80,22.78,14.40,NaN,NaN,4.99,9.84,7.48,13.94,21.35,24.94,33.96,24.99,0.30,35.13,2016-02-17
3,32.90,19.99,20.38,NaN,NaN,0.97,14.98,19.97,10.60,12.30,23.99,49.73,9.99,39.59,30.00,2016-02-16
4,5.00,10.00,10.00,NaN,NaN,6.75,24.98,28.66,6.90,19.99,15.00,38.98,34.49,42.82,10.00,2016-02-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.00,2015-03-06
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190.00,NaN,NaN,NaN,NaN,699.95,2015-03-05
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.00,NaN,NaN,NaN,NaN,699.99,2015-03-04
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.00,NaN,NaN,NaN,NaN,650.00,2015-03-03
244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,489.99,NaN,NaN,NaN,NaN,490.00,2015-03-02

In [34]:
bid_ask_spread = bid_ask_spread.set_index('Date')[::-1].loc['2015-05-30':].drop(columns=['SU26217RMFS', 'SU26218RMFS'])
bid_ask_spread

,SU26214RMFS,SU26215RMFS,SU26216RMFS,SU26203RMFS,SU26204RMFS,SU26205RMFS,SU26206RMFS,SU26207RMFS,SU26208RMFS,SU26209RMFS,SU26210RMFS,SU26211RMFS,SU26212RMFS
Date,,,,,,,,,,,,,
2015-06-01,74.96,44.00,96.98,24.00,74.93,94.98,49.99,14.00,49.98,98.99,24.00,23.80,43.99
2015-06-02,54.99,149.98,54.96,28.99,49.97,74.92,74.98,34.00,30.00,379.94,64.26,59.95,44.99
2015-06-03,49.99,24.98,44.97,18.90,39.99,284.46,9.99,29.99,39.96,574.73,599.77,49.81,30.00
2015-06-04,24.98,49.99,5.00,7.98,33.95,44.97,18.94,9.99,29.92,229.98,50.00,69.99,19.98
2015-06-05,199.98,34.99,84.99,29.00,30.00,99.99,29.99,33.45,49.94,89.99,84.40,39.99,84.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-02-15,5.00,10.00,10.00,6.75,24.98,28.66,6.90,19.99,15.00,38.98,34.49,42.82,10.00
2016-02-16,32.90,19.99,20.38,0.97,14.98,19.97,10.60,12.30,23.99,49.73,9.99,39.59,30.00
2016-02-17,13.80,22.78,14.40,4.99,9.84,7.48,13.94,21.35,24.94,33.96,24.99,0.30,35.13
2016-02-18,39.71,9.99,30.03,13.41,1.95,32.09,5.07,4.99,14.00,52.75,48.99,40.34,33.99
2016-02-19,29.89,29.97,39.97,11.95,14.88,29.87,16.77,16.30,15.55,29.95,28.72,27.98,0.64

In [36]:
bid_ask_spread.isna().sum()

SU26214RMFS    0
SU26215RMFS    0
SU26216RMFS    0
SU26203RMFS    0
SU26204RMFS    0
SU26205RMFS    0
SU26206RMFS    0
SU26207RMFS    0
SU26208RMFS    0
SU26209RMFS    0
SU26210RMFS    0
SU26211RMFS    0
SU26212RMFS    0
dtype: int64

In [37]:
bid_ask_spread.to_excel('bid_ask_spread.xlsx')

# Количество сделок

In [20]:
counts = make_metric(metrics[3])
counts = counts.set_index('Date')[::-1].loc['2015-05-30':].drop(columns=['SU26217RMFS', 'SU26218RMFS']).fillna(0)
counts

,SU26214RMFS,SU26215RMFS,SU26216RMFS,SU26203RMFS,SU26204RMFS,SU26205RMFS,SU26206RMFS,SU26207RMFS,SU26208RMFS,SU26209RMFS,SU26210RMFS,SU26211RMFS,SU26212RMFS
Date,,,,,,,,,,,,,
2015-06-01,1.0,5.0,2.0,10.0,15.0,2.0,15.0,31.0,3.0,2.0,3.0,5.0,7.0
2015-06-02,14.0,7.0,10.0,31.0,4.0,15.0,6.0,45.0,11.0,18.0,17.0,26.0,27.0
2015-06-03,13.0,27.0,11.0,19.0,19.0,21.0,12.0,36.0,15.0,34.0,17.0,37.0,32.0
2015-06-04,1.0,20.0,0.0,19.0,29.0,16.0,22.0,88.0,8.0,5.0,4.0,24.0,49.0
2015-06-05,2.0,13.0,0.0,4.0,12.0,3.0,16.0,74.0,2.0,5.0,2.0,18.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-02-15,79.0,122.0,15.0,785.0,13.0,55.0,35.0,209.0,19.0,76.0,123.0,134.0,160.0
2016-02-16,38.0,114.0,23.0,105.0,23.0,90.0,31.0,261.0,25.0,64.0,66.0,151.0,224.0
2016-02-17,71.0,110.0,12.0,76.0,18.0,54.0,23.0,136.0,14.0,61.0,89.0,72.0,103.0
2016-02-18,148.0,167.0,53.0,154.0,13.0,127.0,22.0,211.0,52.0,94.0,86.0,211.0,217.0
2016-02-19,108.0,55.0,35.0,79.0,10.0,27.0,20.0,117.0,31.0,23.0,121.0,52.0,69.0

In [21]:
counts.isna().sum()

SU26214RMFS    0
SU26215RMFS    0
SU26216RMFS    0
SU26203RMFS    0
SU26204RMFS    0
SU26205RMFS    0
SU26206RMFS    0
SU26207RMFS    0
SU26208RMFS    0
SU26209RMFS    0
SU26210RMFS    0
SU26211RMFS    0
SU26212RMFS    0
dtype: int64

In [43]:
counts.to_excel('trades_count.xlsx')

# Лет до погашения

In [22]:
from datetime import timedelta

In [23]:
all_data = pd.DataFrame(columns=tickers)
first = True
for file in files:
    data = pd.read_excel(path+'/'+file)
    if first:
        data['Дата'] = pd.to_datetime(data['Дата'], format='%Y-%m-%d')
        all_data['Date'] = data['Дата']
        first = False
    else:
        pass
    bond = 'SU' + str(file[:5]) + 'RMFS'
    red_date = pd.to_datetime(data_bonds[bond]['redemption_date'], format='%d.%m.%Y')
    till_red = (red_date - all_data['Date'])/timedelta(days=365)
    all_data[bond] = till_red

In [24]:
all_data = all_data.set_index('Date')[::-1].loc['2015-05-30':].drop(columns=['SU26217RMFS', 'SU26218RMFS'])
all_data

,SU26214RMFS,SU26215RMFS,SU26216RMFS,SU26203RMFS,SU26204RMFS,SU26205RMFS,SU26206RMFS,SU26207RMFS,SU26208RMFS,SU26209RMFS,SU26210RMFS,SU26211RMFS,SU26212RMFS
Date,,,,,,,,,,,,,
2015-06-01,4.991781,8.213699,3.956164,1.175342,2.789041,5.873973,2.038356,11.684932,3.745205,7.139726,4.531507,7.657534,12.643836
2015-06-02,4.989041,8.210959,3.953425,1.172603,2.786301,5.871233,2.035616,11.682192,3.742466,7.136986,4.528767,7.654795,12.641096
2015-06-03,4.986301,8.208219,3.950685,1.169863,2.783562,5.868493,2.032877,11.679452,3.739726,7.134247,4.526027,7.652055,12.638356
2015-06-04,4.983562,8.205479,3.947945,1.167123,2.780822,5.865753,2.030137,11.676712,3.736986,7.131507,4.523288,7.649315,12.635616
2015-06-05,4.980822,8.202740,3.945205,1.164384,2.778082,5.863014,2.027397,11.673973,3.734247,7.128767,4.520548,7.646575,12.632877
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-02-15,4.282192,7.504110,3.246575,0.465753,2.079452,5.164384,1.328767,10.975342,3.035616,6.430137,3.821918,6.947945,11.934247
2016-02-16,4.279452,7.501370,3.243836,0.463014,2.076712,5.161644,1.326027,10.972603,3.032877,6.427397,3.819178,6.945205,11.931507
2016-02-17,4.276712,7.498630,3.241096,0.460274,2.073973,5.158904,1.323288,10.969863,3.030137,6.424658,3.816438,6.942466,11.928767
2016-02-18,4.273973,7.495890,3.238356,0.457534,2.071233,5.156164,1.320548,10.967123,3.027397,6.421918,3.813699,6.939726,11.926027
2016-02-19,4.271233,7.493151,3.235616,0.454795,2.068493,5.153425,1.317808,10.964384,3.024658,6.419178,3.810959,6.936986,11.923288

In [25]:
all_data.isna().sum()

SU26214RMFS    0
SU26215RMFS    0
SU26216RMFS    0
SU26203RMFS    0
SU26204RMFS    0
SU26205RMFS    0
SU26206RMFS    0
SU26207RMFS    0
SU26208RMFS    0
SU26209RMFS    0
SU26210RMFS    0
SU26211RMFS    0
SU26212RMFS    0
dtype: int64

In [64]:
all_data.to_excel('till_redemption.xlsx')

# Фактическая цена

In [26]:
all_data = pd.DataFrame(columns=tickers)
first = True
for file in files:
    data = pd.read_excel(path+'/'+file)
    if first:
        data['Дата'] = pd.to_datetime(data['Дата'], format='%Y-%m-%d')
        all_data['Date'] = data['Дата']
        first = False
    else:
        pass
    bond = 'SU' + str(file[:5]) + 'RMFS'
    all_data[bond] = data['Рыночная цена']

In [27]:
all_data = all_data.set_index('Date')[::-1].loc['2015-05-30':].drop(columns=['SU26217RMFS', 'SU26218RMFS'])
all_data

,SU26214RMFS,SU26215RMFS,SU26216RMFS,SU26203RMFS,SU26204RMFS,SU26205RMFS,SU26206RMFS,SU26207RMFS,SU26208RMFS,SU26209RMFS,SU26210RMFS,SU26211RMFS,SU26212RMFS
Date,,,,,,,,,,,,,
2015-06-01,84.1292,81.4973,87.9997,96.1679,92.7408,87.1353,94.3994,85.5104,90.9016,85.7987,86.8622,82.2668,77.5581
2015-06-02,84.2505,81.4474,87.9978,96.3260,92.7490,87.5005,94.4027,85.6124,90.8983,85.7988,86.8591,82.3209,77.6205
2015-06-03,84.2499,81.6784,87.8014,96.3482,92.4657,87.2502,94.6678,85.6248,90.8888,85.9860,86.8325,82.3257,77.2785
2015-06-04,84.2499,80.4859,87.8011,96.1396,91.9390,86.2386,94.2384,84.0678,90.8762,85.9972,86.0549,81.2781,76.1762
2015-06-05,83.9494,79.9348,87.8011,96.1307,91.8441,86.3581,94.1932,83.2129,89.9957,84.2724,86.1242,80.7585,75.8228
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-02-15,87.5451,84.3852,90.9944,98.9453,95.5994,90.7370,96.9772,88.8363,93.6426,88.8524,89.9043,85.0466,81.0343
2016-02-16,87.5770,84.2641,91.0101,98.9330,95.6652,90.3038,97.0007,88.6662,93.6425,88.4078,89.7062,85.1209,80.7541
2016-02-17,87.5828,84.4599,91.0841,98.8826,95.8892,90.5450,96.9510,88.5047,93.8399,88.8883,90.0350,85.0499,80.5531
2016-02-18,88.0865,85.2101,91.3708,98.9122,95.7650,91.1949,97.0643,89.7141,93.9360,89.5464,90.0516,86.1723,81.8374
2016-02-19,88.2885,85.4366,91.3961,98.9400,95.8284,91.0578,97.1788,89.5492,94.1865,89.5504,90.5271,86.2621,81.6680

In [28]:
all_data.isna().sum()

SU26214RMFS    0
SU26215RMFS    0
SU26216RMFS    0
SU26203RMFS    0
SU26204RMFS    0
SU26205RMFS    0
SU26206RMFS    0
SU26207RMFS    0
SU26208RMFS    0
SU26209RMFS    0
SU26210RMFS    0
SU26211RMFS    0
SU26212RMFS    0
dtype: int64

In [19]:
all_data.to_excel('market_price.xlsx')