In [1]:
import pandas as pd
import requests

In [2]:
url = 'https://www.cbr.ru/hd_base/zcyc_params/?UniDbQuery.Posted=True&UniDbQuery.From=02.03.2015&UniDbQuery.To=19.02.2016'
answer = requests.get(url)

In [13]:
data = pd.read_html(answer.content)[0]
data = data[::-1]
data = data.droplevel(0, axis=1)
data['Дата'] = data['Дата'].apply(lambda x: '-'.join(x.split('.')[::-1]))
data['Дата'] = pd.to_datetime(data['Дата'])
data.set_index('Дата', inplace=True)
data.columns = [float(x.replace(',', '.')) for x in data.columns]
data = data.astype('int64')
data = data/10 ** 4
data.index.rename('Date', inplace=True)
data

,0.25,0.50,0.75,1.00,2.00,3.00,5.00,7.00,10.00,15.00,20.00,30.00
Date,,,,,,,,,,,,
2015-03-02,0.1354,0.1367,0.1380,0.1391,0.1429,0.1452,0.1458,0.1413,0.1303,0.1172,0.1094,0.1015
2015-03-03,0.1241,0.1275,0.1307,0.1332,0.1387,0.1398,0.1380,0.1336,0.1258,0.1151,0.1077,0.0990
2015-03-04,0.1277,0.1295,0.1312,0.1328,0.1374,0.1394,0.1386,0.1347,0.1276,0.1179,0.1108,0.1019
2015-03-05,0.1266,0.1281,0.1296,0.1310,0.1351,0.1365,0.1356,0.1324,0.1266,0.1177,0.1107,0.1019
2015-03-06,0.1211,0.1237,0.1261,0.1281,0.1331,0.1350,0.1348,0.1322,0.1269,0.1182,0.1112,0.1020
...,...,...,...,...,...,...,...,...,...,...,...,...
2016-02-15,0.0892,0.0944,0.0977,0.0997,0.1025,0.1030,0.1031,0.1025,0.1011,0.1003,0.1004,0.1008
2016-02-16,0.0900,0.0954,0.0983,0.0999,0.1017,0.1026,0.1033,0.1029,0.1018,0.1010,0.1009,0.1010
2016-02-17,0.0917,0.0971,0.0994,0.1003,0.1012,0.1020,0.1024,0.1019,0.1009,0.1003,0.1003,0.1006
2016-02-18,0.0894,0.0947,0.0975,0.0990,0.1006,0.1010,0.1008,0.1000,0.0990,0.0985,0.0986,0.0990
2016-02-19,0.0899,0.0951,0.0976,0.0988,0.1001,0.1005,0.1007,0.1003,0.0996,0.0991,0.0990,0.0991

In [14]:
data[0] = data[0.25]
data = data[[data.columns[-1]] +  list(data.columns[:-1])]
data

,0.00,0.25,0.50,0.75,1.00,2.00,3.00,5.00,7.00,10.00,15.00,20.00,30.00
Date,,,,,,,,,,,,,
2015-03-02,0.1354,0.1354,0.1367,0.1380,0.1391,0.1429,0.1452,0.1458,0.1413,0.1303,0.1172,0.1094,0.1015
2015-03-03,0.1241,0.1241,0.1275,0.1307,0.1332,0.1387,0.1398,0.1380,0.1336,0.1258,0.1151,0.1077,0.0990
2015-03-04,0.1277,0.1277,0.1295,0.1312,0.1328,0.1374,0.1394,0.1386,0.1347,0.1276,0.1179,0.1108,0.1019
2015-03-05,0.1266,0.1266,0.1281,0.1296,0.1310,0.1351,0.1365,0.1356,0.1324,0.1266,0.1177,0.1107,0.1019
2015-03-06,0.1211,0.1211,0.1237,0.1261,0.1281,0.1331,0.1350,0.1348,0.1322,0.1269,0.1182,0.1112,0.1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-02-15,0.0892,0.0892,0.0944,0.0977,0.0997,0.1025,0.1030,0.1031,0.1025,0.1011,0.1003,0.1004,0.1008
2016-02-16,0.0900,0.0900,0.0954,0.0983,0.0999,0.1017,0.1026,0.1033,0.1029,0.1018,0.1010,0.1009,0.1010
2016-02-17,0.0917,0.0917,0.0971,0.0994,0.1003,0.1012,0.1020,0.1024,0.1019,0.1009,0.1003,0.1003,0.1006
2016-02-18,0.0894,0.0894,0.0947,0.0975,0.0990,0.1006,0.1010,0.1008,0.1000,0.0990,0.0985,0.0986,0.0990
2016-02-19,0.0899,0.0899,0.0951,0.0976,0.0988,0.1001,0.1005,0.1007,0.1003,0.0996,0.0991,0.0990,0.0991

In [15]:
data.to_excel('cbr_rates.xlsx')